@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

header {
    height: 50px;
}

#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo-header {
    max-height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}

nav ul {
    list-style: none;
    padding-right: 10px;
    display: flex;

    flex-wrap:nowrap;
}

nav li a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Roboto';
}



/* @media screen and (min-width: 280px) {
    #navbar {
        display: flex;
        flex-direction: column;
    }
} */


.section-image {
    background: url('../images/landing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-image .section-titulo {
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-size: 2.5em;
    font-weight: bold;
}

.section-image .section-subtitulo {
    color: white; 
    font-size: small;
    font-family: 'Roboto';
    width: 50%;
    text-align: center;
}
